*.db
*.pyc
__pycache__
*.vscode
*.pio
*.rst
*.md
README*
LICENSE*
*.png
*.jpg
examples/**/*.yml
**/CONTR*
**/CHANGE*
examples/**/*.md
.piopm
documents
TODO
# *.ico
INSTALL*
AUTH*
*kl26*
*k66*
*k20*
*d51*
*d21*
*nrf5*
*stm32*
*esp32*
# Prerequisites
*.d
MANIFEST
COPYING*
teensy3/
teensy/
examples/
*TEENSY_3*
*USBHost_t3*
test
*.bmp
docs/
doc/
*.html
*.zip
*.xml
*.gif
*.pde
*.pdf
*.wav
version*
*.url
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode

